@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Subir ficheros Net Core</h1>
 <form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Selecciona un fichero:</label>
        <input type="file" name="file" id="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Subir</button>

</form>

<h2>@ViewData["MENSAJE"]</h2>
<img src="~/uploads/@ViewData["FILENAME"]" width="200px" />